<ion-header>
  <ion-navbar>
<!--     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title> My Subscriptions </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let c of calendars">
      <!-- <ion-icon name="{{item.icon}}" item-left></ion-icon> -->
          <!-- <ion-label >{{item.calendartype}}</ion-label> -->
          <ion-label> {{c.name}} </ion-label>
          <!-- <ion-label>{{item.icon}}</ion-label> -->
<!--           <ion-toggle value="foo" *ngIf="item.icon=='checkmark' && item.calendartype!='northwestern'" checked="true" (ionChange)="subscribe(item)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="item.icon=='close-circle' && item.calendartype!='northwestern'" checked="false" (ionChange)="subscribe(item)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="item.calendartype=='northwestern'" checked="true" (ionChange)="subscribe(item)" disabled="true"></ion-toggle> -->
    </ion-item>

  </ion-list>


</ion-content>
