<ion-header>
  <ion-navbar>
    <img src="assets/img/Logo.png" style="height: 40px; width:auto; display: block; margin: auto">
  </ion-navbar>
</ion-header>

<ion-content>

<!--   <ion-item>
      <ion-avatar item-center>
        <img src="assets/img/avatar-ts-woody.png">
      </ion-avatar>
  </ion-item>

  <ion-label *ngIf="user"> Name: {{ user.name }} </ion-label>
  <ion-label *ngIf="user"> Email: {{ user.email }} </ion-label>
  <ion-label *ngIf="user"> Graduation Year: {{ user.year }} </ion-label>
      -->
  <ion-list>

    <ion-item *ngFor="let c of calendars" (click)="getCalendarEvents($event, c)">
          <ion-label> {{c.name}} </ion-label>
          <ion-toggle value="foo" *ngIf="c.subscribed == true" checked="true" (ionChange)="subscribe(c)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="c.subscribed == false" checked="false" (ionChange)="subscribe(c)"></ion-toggle>
    </ion-item>

  </ion-list>


  <div class="buttondiv">

    <button ion-button icon-only (click)="logOut($event)">
        <ion-icon name="log-out"> Logout </ion-icon>
    </button>

  </div>

</ion-content>
