<ion-header>
  <ion-navbar>
    <ion-title> My Subscriptions </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let c of calendars" (click)="getCalendarEvents($event, c)">
          <ion-label> {{c.name}} </ion-label>
          <ion-toggle value="foo" *ngIf="c.subscribed == true" checked="true" (ionChange)="subscribe(c)"></ion-toggle>
          <ion-toggle value="foo" *ngIf="c.subscribed == false" checked="false" (ionChange)="subscribe(c)"></ion-toggle>
    </ion-item>

  </ion-list>


</ion-content>
