
<ion-header>
  <ion-navbar>
    <ion-title>Pvmnt 2.0</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card class="background-img-card">
    <img src={{selectedItem.img}}/>
    <div class="card-title" text-wrap *ngIf="selectedItem"> {{selectedItem.name}} </div>
    <div class="card-subtitle"> {{selectedItem.calendar}}</div>
  </ion-card>

  <ion-card>
      <ion-item>
        <!-- <ion-avatar item-left>
          <img src="assets/img/calendaricon.png">
        </ion-avatar> -->
        <ion-thumbnail item-left class="calendar">
          <h1 class="day">{{getDay()}}</h1>
          <h1 class = "month">{{getMonth()}}</h1>
          <!--<h4 class="time">{{getTime()}}</h4>-->
        </ion-thumbnail>
        <h2 *ngIf="selectedItem"> {{selectedItem.name}}</h2>
        <p *ngIf="selectedItem"> {{selectedItem.calendar}}</p>
      </ion-item>

      <ion-item class="avatartop">
        <ion-avatar item-left class="iconavatar">
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        </ion-avatar>
        <h3 class="icontext"> {{getMonth()}} {{getDay()}} at {{getTime()}} </h3>
      </ion-item>
      <ion-item>
        <ion-avatar item-left class="iconavatar">
          <ion-icon ios="ios-locate" md="md-locate"> </ion-icon>
        </ion-avatar>
          <h3 class="icontext" *ngIf="selectedItem"> {{selectedItem.place}} </h3>
       </ion-item>
  </ion-card>

<ion-card>
  <ion-card-header>
    Details
  </ion-card-header>
  <ion-card-content>
    {{selectedItem.desc}}
  </ion-card-content>
</ion-card>


<!--   <ion-card>
    <img src="assets/img/team_mystic.png"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/team_mystic.png"/>
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/team_mystic.png"/>
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card> -->

</ion-content>
