page-item-details {
  .background-img-card{
    position: relative;
    text-align: right;
  }


/*  .generalinfo{
    height:20%;  
  }*/

  .card-title {
    position: absolute;
    top: 70%;
    right: 5%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 85%;
    right: 5%;
    width: 100%;
    color: #fff;
  }
  .icontext {
    padding-bottom: 7.5%;
  }

  .iconavatar {
    padding-left: 3.0%;
  }

}
