page-filterdate {

.item-datetime ion-label {
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  max-width: 100px;
  pointer-events: none;
}

.tomorrow{
	margin-left: 17%;
	margin-top: 10%;
}

.week{
	margin-left: 10%;
	margin-top: 10%;
}

.savedates{
    margin-top: 10%;
    margin-left: 35%;
    width: 35%;
}

.inputs{
	margin-top: 10%;
}

}