page-filterdate {

.item-datetime ion-label {
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  max-width: 100px;
  pointer-events: none;
}

.savedates {
    margin-top: 10%;
    margin-left: 35%;
    width: 35%;
  
}

}
