.recText{
    float: right !important;
    text-align: center !important;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 6.0%;
    /*padding-right: 19px;*/
    /*padding-top: 9px;*/
    height: 100%;
    color: #488aff;
  }

  .thumb{
    width:90px !important;
    height:90px !important;
    object-fit: cover;
    overflow: hidden;
  }

  .contentdes{
    font-size: 13px;
    overflow: hidden;
    color: black;
  }

  .description{
    min-height: 0px;
    height: 90px !important;
    padding-left: 21px;
  }

  .description_new{
    padding-top: 1%;
    padding-left: 2.5%;
  }

  .recommended{
    padding-left: 0.0%;
  }

  .headings{
    padding-top: 2.0%;
  }

  .group_upper{
    padding-top: 2%;
  }
