<ion-card>
  <ion-item>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail item-left class="calendar">
          <h1>{{getDay()}}</h1>
          {{getMonth()}}
          <h4>{{getTime()}}</h4>
        </ion-thumbnail>
        <!-- <ion-card-content> -->
        <ion-thumbnail item-right>
          <ion-card-title>
            {{ event.name }}
          </ion-card-title>
          <p class="group">{{event.calendar}}</p>
          <p class="tag" *ngFor="let tag of event.tags">{{tag}}</p>
        </ion-thumbnail>
      </ion-item>
      <ion-item text-wrap>
        <!-- <ion-thumbnail item-left> -->

        <p class="content">
          {{event.desc}}
        </p>
        <!-- </ion-thumbnail> -->

        <ion-thumbnail item-right>
          <img src="assets/img/team_mystic.png" />
        </ion-thumbnail>

      </ion-item>
    </ion-card-content>


  </ion-item>
  <ion-row no-padding>
    <ion-col>
      <button ion-button clear small color="danger" icon-left>
        <ion-icon name='star'></ion-icon>
        Interested
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="danger" icon-left>
        <ion-icon name='musical-notes'></ion-icon>
        Listen
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="danger" icon-left>
        <ion-icon name='share-alt'></ion-icon>
        Share
      </button>
    </ion-col>
  </ion-row>


</ion-card>
