<ion-card class="card">
  <ion-item no-padding>
    <ion-card-content no-padding>
      <ion-item>
        <ion-thumbnail no-margin item-left class="calendar">
          <h1 class="day">{{getDay()}}</h1>
          <h1 class = "month" text-uppercase>{{getMonth()}}</h1>
          <!--<h4 class="time">{{getTime()}}</h4>-->
        </ion-thumbnail>
        
        <!-- <ion-card-content> -->
        <ion-thumbnail no-margin class="cardheading">
          <ion-card-title no-padding text-wrap no-margin>
            {{ event.name }}
          </ion-card-title>
          <p class="group">{{event.calendar}}</p>
          <small class="tag" *ngFor="let tag of event.tags">{{tag}} | </small>
          <small class="tag"> Other </small>
        </ion-thumbnail>
      </ion-item>
      <ion-item text-wrap class="description">
        <!-- <ion-thumbnail item-left> -->

        <p class="contentdes fade">
          {{event.desc}}
        </p>
        <!-- </ion-thumbnail> -->

        <ion-thumbnail item-right>
          <img src="assets/img/team_mystic.png" />
        </ion-thumbnail>

      </ion-item>
    </ion-card-content>


  </ion-item>
  <ion-row no-padding>
    <ion-col no-padding>
      <button ion-button clear small color="danger" icon-left>
        <ion-icon name='star'></ion-icon>
        Interested
      </button>
    </ion-col>
    
  </ion-row>


</ion-card>
